name: Oxy Test
on: [push, pull_request]
jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        sdk: [stable]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ matrix.sdk }}
      - run: dart pub get
      - run: dart test -p vm
      - run: dart test -p node
